
@{
    ViewBag.Title = "Find an image";
}

<h2>@ViewBag.Title</h2>

@{ Html.BeginForm("DoQuery", "Image", FormMethod.Get);}
<fieldset>
    <legend>Enter Image Information</legend>
    <p>
        Image id: @Html.TextBox("id")
    </p>
    <p>
        <input type="submit" value="Query" />
    </p>
</fieldset>
@ViewBag.Message;
@{ Html.EndForm();}

